html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom CSS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #dad7cd;
}

header {
    background-color: #3a5a40;
    color: #a3b18a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    margin-bottom: 20px;

    nav {
        ul {
            display: flex;
            list-style: none;

            li {
                margin-left: 20px;

                a {
                    text-decoration: none;
                    color: #a3b18a;
                    font-weight: 500;
                    font-size: 1.2rem;
                }
                a:hover {
                    color: #dad7cd;
                }
            }
        }
    }
}

main {
    .about {
        /*Centrar elementos (img y iconos)*/
        display: flex;
        justify-content: center;
        align-items: center;


        .about__left {
            /* Centrar elementos*/
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            padding: 2rem;
            color: #dad7cd;

            .about__left__img {

                img {
                    border-radius: 50%;
                    width: 100%;
                    max-width: 500px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                }

                p {
                    font-size: 1.4rem;
                    margin-top: 20px;
                    text-align: center;
                    color: #3a5a40;
                    margin-bottom: 20px;
                }
            }

            .about__left__badgets {
                margin-top: 20px;

                a {
                    text-decoration: none;
                    margin-right: 10px;
                    color: #3a5a40;
                    font-size: 1.5rem;
                }
            }
        }

        /*Colocar div derecha*/
        .about__right {
            width: 50%;
            float: right;
            padding: 2rem;
            color: #3a5a40;

            .about__right__info {
                h2 {
                    font-size: 2.5rem;
                    margin-bottom: 20px;
                    color: #344e41;
                }
    
                p {
                    font-size: 1.2rem;
                    margin-bottom: 20px;

                    b {
                        color: #588157;
                    
                    }
                }
            }

            .about__right__shields {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;

                img {
                    width: 40px;
                    margin-right: 10px;
                }
            }
        }
    }

    .experience {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
        background-color: #344e41;

        h2 {
            font-size: 2.5rem;
            margin-bottom: 3rem;
            color: #a3b18a;
        }

        .timeline {
            margin: 5em auto;
            max-width: 34.15em;

            .checkpoint {
                max-width: 34em;
                padding-top: 2em;
                padding-bottom: 2em;
                position: relative;

                .content {
                    border: 2px solid #a3b18a;
                    border-radius: 1em;
                    padding: 1.5em;

                    small {
                        color: #dad7cd;
                    }

                    h2 {
                        font-size: 1.8em;
                        margin-top: 0.3em;
                        margin-bottom: 0.5em;
                        color: #a3b18a;
                    }

                    p {
                        line-height: 27px;
                        color: #dad7cd;
                    }
                }
            }

            .checkpoint:nth-child(odd) {
                border-left: 3px solid #a3b18a;
                padding-left: 3em;
                transform: translateX(17em);
            }

            .checkpoint:nth-child(even) {
                border-right: 3px solid #a3b18a;
                padding-right: 3em;
                transform: translateX(-17em);
            }

            .checkpoint:nth-child(odd)::before,
            .checkpoint:nth-child(even)::before {
                content: '';
                background: #a3b18a;
                width: 3em;
                height: 3px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }

            .checkpoint:nth-child(odd)::before {
                left: 0.1%;
            }

            .checkpoint:nth-child(even)::before {
                right: 0.1%;
            }

            .checkpoint:nth-child(odd) div::before,
            .checkpoint:nth-child(even) div::before {
                content: '';
                background: #a3b18a;
                box-shadow: 0 0 0 0.3em #344e41;
                width: 1em;
                height: 1em;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 50%;
            }

            .checkpoint:nth-child(odd) div::before {
                left: -0.5em;
            }

            .checkpoint:nth-child(even) div::before {
                right: -0.5em;
            }
        }
    }
}


@media screen and (max-width: 1150px) {
    .timeline {
        width: 80vw;
    }

    .timeline .checkpoint {
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }

    .timeline .checkpoint::before {
        width: 3px;
        height: 4em;
        top: -2em;
        left: 50%;
        transform: translateX(-50%);
    }

    .timeline .checkpoint div::before {
        top: -0.5em;
        left: 50%;
        transform: translateX(-50%);
    }
}
